.success {
    background: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    padding: 10px 20px;
}
.error {
    background: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    padding: 10px 20px;
}
.create {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 100px 30px 100px;
}
.create-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.create-form__input{
    width: 60%;
    margin-right: 10px;
}
.create-form__input input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;

}
.create-form__category {
    width: 20%;
    margin-right: 30px;
}
.create-form__category--select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}
.create-form__button {
    width: 20%;
    text-align: left;
}
.create-form__button--submit {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 3px;
}
.search {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px 100px 100px;
}
.search-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.search-form__input{
    width: 60%;
    margin-right: 10px;
}
.search-form__input input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;

}
.search-form__category {
    width: 20%;
    margin-right: 30px;
}
.search-form__category--select {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.search-form__button {
    width: 20%;
    text-align: left;
}

.search-form__button--submit {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    border-radius: 3px;
}
.table-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 100px !important;
}
.list__name {
    max-width: 1000px;
}
.todo__name {
    grid-column: 1/2;
}
.todo__name--item {
    text-align: left;
    font-size: 16px;
}
.category__name {
    grid-column: 2/3;
}
.category__name--item {
    text-align: left;
    font-size: 16px;
}
.list__row {
    height: 60px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 4fr 4fr 1fr 1fr;
}
.list__todo {
    grid-column: 1/2;
}
.list__category {
    grid-column: 2/3;
}
.list__update {
    grid-column: 3/4;
}
.list__delete {
    grid-column: 4/5;
}
.update-form__input {
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    padding: 0 10px;
}
.update-form__button--submit {
    width: 60px;
    height: 40px;
    background: #0000ff;
    color: white;
    border: none;
    border-radius: 3px;
}
.delete-form__button--submit {
    width: 60px;
    height: 40px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 3px;
    margin-left: 10px;
}